USE [master]
GO
/****** Object:  Database [QL_PHUTUNG]    Script Date: 28/5/2021 6:07:06 PM ******/
CREATE DATABASE [QL_PHUTUNG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_PHUTUNG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QL_PHUTUNG.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_PHUTUNG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QL_PHUTUNG_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_PHUTUNG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_PHUTUNG]
GO
/****** Object:  Table [dbo].[BAOHANH]    Script Date: 28/5/2021 6:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOHANH](
	[MAHD] [int] NOT NULL,
	[MAPT] [int] NOT NULL,
	[MANV] [int] NULL,
	[SOLUONG_DOI] [int] NULL,
	[NGAYMUA] [date] NULL,
	[NGAYTRA] [date] NULL,
	[TINHTRANG] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 28/5/2021 6:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[MAHD] [int] NOT NULL,
	[MAPT] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[GIAMGIA] [float] NULL,
	[THANHTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTNHAPHANG]    Script Date: 28/5/2021 6:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTNHAPHANG](
	[MANH] [int] NOT NULL,
	[MAPT] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANH] ASC,
	[MAPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANHSACHYEUTHICH]    Script Date: 28/5/2021 6:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANHSACHYEUTHICH](
	[SDT] [char](13) NOT NULL,
	[MAPT] [int] NOT NULL,
	[NGAYLAP] [datetime] NOT NULL,
	[SOLUONG_DS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SDT] ASC,
	[MAPT] ASC,
	[NGAYLAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIAMGIA]    Script Date: 28/5/2021 6:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIAMGIA](
	[MAGIAMGIA] [char](20) NOT NULL,
	[SOTIENGIAM] [float] NULL,
	[NGAYBATDAU] [date] NULL,
	[NGAYKETTHUC] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGIAMGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 28/5/2021 6:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[SDT] [char](13) NOT NULL,
	[MANV] [int] NOT NULL,
	[NGAYBAN] [date] NULL,
	[TONGTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 28/5/2021 6:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[SDT] [char](13) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[GIOITINH] [char](4) NULL,
	[EMAIL] [char](60) NULL,
	[NGAYTAO] [date] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[CHUTHICH] [nvarchar](100) NULL,
 CONSTRAINT [PK_KH] PRIMARY KEY CLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIPHUTUNG]    Script Date: 28/5/2021 6:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHUTUNG](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENPHUTUNG] [nvarchar](100) NULL,
 CONSTRAINT [PK_LX] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 28/5/2021 6:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [int] IDENTITY(1,1) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [char](13) NULL,
 CONSTRAINT [PK_NCC] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 28/5/2021 6:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](5) NULL,
	[SDT] [char](13) NULL,
	[MatKhau] [char](25) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[NGAYVAOLAM] [date] NULL,
	[MAPQ] [char](10) NULL,
 CONSTRAINT [PK_NV] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHAPHANG]    Script Date: 28/5/2021 6:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPHANG](
	[MANH] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NOT NULL,
	[MANCC] [int] NOT NULL,
	[NGAYNHAP] [date] NULL,
	[TONGTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 28/5/2021 6:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[MAPQ] [char](10) NOT NULL,
	[TEnPHANQUYEN] [nvarchar](20) NULL,
 CONSTRAINT [PK_AD] PRIMARY KEY CLUSTERED 
(
	[MAPQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHUTUNGXE]    Script Date: 28/5/2021 6:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHUTUNGXE](
	[MAPT] [int] IDENTITY(1,1) NOT NULL,
	[TENPT] [nvarchar](100) NULL,
	[DVT] [nvarchar](20) NULL,
	[MANCC] [int] NOT NULL,
	[MALOAI] [int] NOT NULL,
	[GIABAN] [float] NULL,
	[SOLUONG] [int] NULL,
	[MOTA] [nvarchar](1000) NULL,
	[HINH] [nvarchar](100) NULL,
	[TINHTRANG] [nvarchar](50) NULL,
 CONSTRAINT [PK_PTX] PRIMARY KEY CLUSTERED 
(
	[MAPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CTHD] ([MAHD], [MAPT], [SOLUONG], [DONGIA], [GIAMGIA], [THANHTIEN]) VALUES (1, 2, 3, 200000, 0, 200000)
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MAHD], [SDT], [MANV], [NGAYBAN], [TONGTIEN]) VALUES (1, N'0909137407   ', 1, CAST(0xC7400B00 AS Date), 200000)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
INSERT [dbo].[KHACHHANG] ([SDT], [TENKH], [GIOITINH], [EMAIL], [NGAYTAO], [DIACHI], [CHUTHICH]) VALUES (N'0909137407   ', N'Đinh Quốc Khánh Nguyên', N'Nam ', N'khanhnguyen@gmail.com                                       ', CAST(0x51420B00 AS Date), N'Ti?n Giang', N'')
SET IDENTITY_INSERT [dbo].[LOAIPHUTUNG] ON 

INSERT [dbo].[LOAIPHUTUNG] ([MALOAI], [TENPHUTUNG]) VALUES (1, N'Đồ chơi xe máy')
INSERT [dbo].[LOAIPHUTUNG] ([MALOAI], [TENPHUTUNG]) VALUES (2, N'Phụ tùng thay thế')
INSERT [dbo].[LOAIPHUTUNG] ([MALOAI], [TENPHUTUNG]) VALUES (3, N'Vỏ xe máy (Lốp xe)')
SET IDENTITY_INSERT [dbo].[LOAIPHUTUNG] OFF
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (1, N'CTY TNHH CÔNG NGHỆ PHÚC LÂN', N'Ð?NG NAI', N'02513896748  ')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (2, N'CTY TNHH HOÀNG THƯƠNG', N'HÀ N?I', N'0972357769   ')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (3, N'CTY CỔ PHẦN CƠ KHÍ PHỐ YÊN', N'THÁI NGUYÊN', N'0984750468   ')
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [SDT], [MatKhau], [DIACHI], [NGAYVAOLAM], [MAPQ]) VALUES (1, N'Lê Nguyễn Long Quốc An', N'Nam', N'0971343530   ', N'123                      ', N'CẦN GIUỘC', CAST(0x83320B00 AS Date), N'QL        ')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [SDT], [MatKhau], [DIACHI], [NGAYVAOLAM], [MAPQ]) VALUES (2, N'Đinh Quốc Khánh Nguyên', N'Nam', N'0123453551   ', N'123                      ', N'TIỀN GIANG', CAST(0xC7400B00 AS Date), N'NVTN      ')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [SDT], [MatKhau], [DIACHI], [NGAYVAOLAM], [MAPQ]) VALUES (3, N'Mai Quốc Đạt', N'Nam', N'0985642356   ', N'TP HCM                   ', N'123', CAST(0xC7400B00 AS Date), N'NVK       ')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
INSERT [dbo].[PhanQuyen] ([MAPQ], [TEnPHANQUYEN]) VALUES (N'NVK       ', N'Nhân Viên kho')
INSERT [dbo].[PhanQuyen] ([MAPQ], [TEnPHANQUYEN]) VALUES (N'NVTN      ', N'Nhân viên thu ngân')
INSERT [dbo].[PhanQuyen] ([MAPQ], [TEnPHANQUYEN]) VALUES (N'QL        ', N'Quản lí')
SET IDENTITY_INSERT [dbo].[PHUTUNGXE] ON 

INSERT [dbo].[PHUTUNGXE] ([MAPT], [TENPT], [DVT], [MANCC], [MALOAI], [GIABAN], [SOLUONG], [MOTA], [HINH], [TINHTRANG]) VALUES (1, N'Dây ga Thái', N'Sợi', 1, 1, 90000, 100, N'Dây ga Thái, dùng để thay thế dây ga zin lâu ngày bị mục nát, nứt, dơ bụi khiến tay ga nặng hơn, hoặc dây ga Thái dùng để gắn chung với cùm tăng Domino nhìn khá nổi bật. Dây ga hàng Thái Lan có thể gắn được tất cả loại xe.', N'day-ga-thai.png', N'Còn hàng')
INSERT [dbo].[PHUTUNGXE] ([MAPT], [TENPT], [DVT], [MANCC], [MALOAI], [GIABAN], [SOLUONG], [MOTA], [HINH], [TINHTRANG]) VALUES (2, N'Co ga Domino', N'Cái', 1, 1, 70000, 103, N'Co ga Domino hàng copy đủ màu sắc, gắn chung với cùm tăng Domino giúp màu mè, nổi bật hơn, ruột bên trong cao su bền, đẹp, thiết kế rất nét, đẹp.', N'coga-domino.png', N'Còn hàng')
SET IDENTITY_INSERT [dbo].[PHUTUNGXE] OFF
ALTER TABLE [dbo].[CTHD] ADD  DEFAULT ((0)) FOR [GIAMGIA]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT (NULL) FOR [CHUTHICH]
GO
ALTER TABLE [dbo].[BAOHANH]  WITH CHECK ADD FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[BAOHANH]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[BAOHANH]  WITH CHECK ADD FOREIGN KEY([MAPT])
REFERENCES [dbo].[PHUTUNGXE] ([MAPT])
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD FOREIGN KEY([MAPT])
REFERENCES [dbo].[PHUTUNGXE] ([MAPT])
GO
ALTER TABLE [dbo].[CTNHAPHANG]  WITH CHECK ADD FOREIGN KEY([MANH])
REFERENCES [dbo].[NHAPHANG] ([MANH])
GO
ALTER TABLE [dbo].[CTNHAPHANG]  WITH CHECK ADD FOREIGN KEY([MAPT])
REFERENCES [dbo].[PHUTUNGXE] ([MAPT])
GO
ALTER TABLE [dbo].[DANHSACHYEUTHICH]  WITH CHECK ADD FOREIGN KEY([MAPT])
REFERENCES [dbo].[PHUTUNGXE] ([MAPT])
GO
ALTER TABLE [dbo].[DANHSACHYEUTHICH]  WITH CHECK ADD FOREIGN KEY([SDT])
REFERENCES [dbo].[KHACHHANG] ([SDT])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([SDT])
REFERENCES [dbo].[KHACHHANG] ([SDT])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [fk_PQ_NV] FOREIGN KEY([MAPQ])
REFERENCES [dbo].[PhanQuyen] ([MAPQ])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [fk_PQ_NV]
GO
ALTER TABLE [dbo].[NHAPHANG]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[NHAPHANG]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHUTUNGXE]  WITH CHECK ADD  CONSTRAINT [FK_PTX_LX] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIPHUTUNG] ([MALOAI])
GO
ALTER TABLE [dbo].[PHUTUNGXE] CHECK CONSTRAINT [FK_PTX_LX]
GO
ALTER TABLE [dbo].[PHUTUNGXE]  WITH CHECK ADD  CONSTRAINT [FK_PTX_NCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHUTUNGXE] CHECK CONSTRAINT [FK_PTX_NCC]
GO
USE [master]
GO
